<h1>Electronics Devices</h1>
<div class="category-box">
  <div class="category">
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70" alt=""></a>
      <span>Camera</span>
      <%= link_to "Add to cart", carts_path() %>
      <%= link_to "Buy now", cart_path(:products) %>
      <div class="_8VNy32">
        <div class="_25b18c">
          <div class="_30jeq3">₹5000</div>
        </div>
      </div>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/200/200/keyboard/laptop-keyboard/p/7/9/logitech-mk220-original-imaescsjvphz6yyq.jpeg?q=70" alt=""></a>
      <span>Keyboards</span>
      <%= link_to "Add to cart", carts_path() %>
      <%= link_to "Buy now", cart_path(:products) %>
      <div class="_30jeq3">₹2000</div>
   </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/612/612/korijrk0/mouse/j/p/k/b175-logitech-original-imag359v76rygsaf.jpeg?q=70" alt=""></a>
      <span>Wireless Mouse</span>
      <%= link_to "Add to cart", carts_path() %>
      <%= link_to "Buy now", cart_path(:products) %>
      <div class="_30jeq3">₹500</div>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/200/200/jtx9evk0/router/g/g/k/d-link-dir-819-original-imaff5yhcm7fdfjr.jpeg?q=70" alt=""></a>
			<%= link_to "Add to cart", carts_path() %>
			<%= link_to "Buy now", cart_path(:products) %>
			<div class="_30jeq3">₹500</div>
      <span>Routers</span>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/200/200/jiulk7k0/graphics-tablet/2/c/x/intuos-small-medium-no-ctl-6100wl-k0-cx-wacom-original-imaf6jy4d3afk3g3.jpeg?q=70" alt=""></a>
      <span>Graphic Card</span>
       <%= link_to "Add to cart", carts_path() %>
      <%= link_to "Buy now", cart_path(:products) %>
      <div class="_30jeq3">₹2500</div>
    </div>
  </div>
</div>   
