<nav class="navbar-top">
  <div class="nav-l">
      <li class="img-search">
        <div class="logo-text">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgCqM1vOSlAvrecy_zj6nxZuKffk3TrGp1MQ&usqp=CAU" alt="" height="20px" width="70px">
          <br>
          <span>Explore Plus</span>
        </div>
        <div class="n-search-logo">
          <input type="text" name="" value="" placeholder="Search for product, brand and more">
          <%#= icon("search", class: "s-icon") %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li><%= current_user.first_name %></li>
      <% else %>
        <li class="l-button"><%= link_to "Login", new_user_session_path, class:'' %></li>
      <% end %>
      <b><a class="nav-link" href="<%= products_path %>">Products</a></b>
      <li class="more-icon">
        <div class="popover__wrapper">
          <a href="#">
            <span class="popover__title">My Account</span>
          </a>
          <div class="popover__content">
            <div class="popover-option">
              <span >New customer?</span>
              <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
            </div>
            <hr>
            <div class="popover-option">
              <span class=""> <%#= icon("person-circle", class: "login-p-icon") %></span>
              <a class="nav-link" href="<%= profiles_path %>">My Profile</a>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%#= icon("plus-circle", class: "login-p-icon") %></span>
              <span class="popover-text" >Flipkart Plus Zone</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%#= icon("wallet-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Order</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%#= icon("heart-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Wishlist</span>
            </div>
            <hr>
            <div class="popover-option">
              <span > <%#= icon("hdd-rack-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Rewards</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%#= icon("gift-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Gift Cards</span>
            </div>
            <hr>
            <div class="popover-option">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-sm"%>
          </div>
        </div>
  </div>
       <%#= icon("chevron-down", class: "down-icon") %>
      </li>
      <li class="cart-icon"><%#= icon("cart-fill", class: "c-icon") %> <span> Cart</span></li>
      <li class="l-button"><%= link_to "Products", homes_path, class:'' %></li>
</nav>